.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}

.logo {
    width: 100px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
padding-right: 10%;
}
.search-bar{
    height: 50px;
    padding-left: 40%;
}

.search-bar > input {
    margin: 10px;
    height: 40px;
    width: 300px;
}


.footer{
    text-align: center;
    padding: 1px;
    background-color: rgb(236, 230, 228);
    color: white;
  }